In [11]:
import pandas as pd

In [12]:
df = pd.read_csv(r'coin_BinanceCoin.csv')

In [13]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,200395.0,10513800.0
1,2,Binance Coin,BNB,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,344499.0,10773700.0
2,3,Binance Coin,BNB,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,342568.0,10406700.0
3,4,Binance Coin,BNB,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,340218.0,10781100.0
4,5,Binance Coin,BNB,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,224261.0,10641400.0

In [14]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,"0,11","0,10","0,11","0,11","200395,00","10513800,00"
1,2,Binance Coin,BNB,2017-07-27 23:59:59,"0,11","0,10","0,11","0,11","344499,00","10773700,00"
2,3,Binance Coin,BNB,2017-07-28 23:59:59,"0,11","0,10","0,11","0,10","342568,00","10406700,00"
3,4,Binance Coin,BNB,2017-07-29 23:59:59,"0,11","0,10","0,10","0,11","340218,00","10781100,00"
4,5,Binance Coin,BNB,2017-07-30 23:59:59,"0,11","0,10","0,11","0,11","224261,00","10641400,00"
...,...,...,...,...,...,...,...,...,...,...
1437,1438,Binance Coin,BNB,2021-07-02 23:59:59,"290,62","277,35","287,75","287,42","1133632645,26","44100157948,02"
1438,1439,Binance Coin,BNB,2021-07-03 23:59:59,"302,61","283,43","287,22","298,24","1113777296,93","45759384867,05"
1439,1440,Binance Coin,BNB,2021-07-04 23:59:59,"314,71","292,79","298,11","307,73","1387395766,17","47216226923,61"
1440,1441,Binance Coin,BNB,2021-07-05 23:59:59,"307,68","293,52","307,68","302,38","1504869976,70","46394729480,24"
1441,1442,Binance Coin,BNB,2021-07-06 23:59:59,"321,52","302,20","302,20","320,93","2203265497,94","49241956385,46"

In [15]:
# save df to csv

df.to_csv(r'binance.csv', index=False)