In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_Bitcoin.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,"147,49","134,00","134,44","144,54","0,00","1603768864,50"
1,2,Bitcoin,BTC,2013-04-30 23:59:59,"146,93","134,05","144,00","139,00","0,00","1542813125,00"
2,3,Bitcoin,BTC,2013-05-01 23:59:59,"139,89","107,72","139,00","116,99","0,00","1298954593,75"
3,4,Bitcoin,BTC,2013-05-02 23:59:59,"125,60","92,28","116,38","105,21","0,00","1168517495,25"
4,5,Bitcoin,BTC,2013-05-03 23:59:59,"108,13","79,10","106,25","97,75","0,00","1085995168,75"
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,"33939,59","32770,68","33549,60","33897,05","38728974942,25","635450784106,09"
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,"34909,26","33402,70","33854,42","34668,55","24383958643,26","649939701346,23"
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,"35937,57","34396,48","34665,56","35287,78","24924307911,11","661574836314,86"
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,"35284,34","33213,66","35284,34","33746,00","26721554282,07","632696207199,70"
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,"35038,54","33599,92","33723,51","34235,19","26501259869,76","641899161593,76"

In [5]:
# save df to csv

df.to_csv(r'bitcoin.csv', index=False)