In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_ChainLink.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Chainlink,LINK,2017-09-21 23:59:59,0.207892,0.155292,0.189132,0.169680,2126270.0,59388000.0
1,2,Chainlink,LINK,2017-09-22 23:59:59,0.181675,0.139869,0.169826,0.150503,1423220.0,52676050.0
2,3,Chainlink,LINK,2017-09-23 23:59:59,0.157440,0.126297,0.149562,0.131129,1186670.0,45895150.0
3,4,Chainlink,LINK,2017-09-24 23:59:59,0.190250,0.130275,0.131110,0.170278,1025740.0,59597300.0
4,5,Chainlink,LINK,2017-09-25 23:59:59,0.182637,0.158580,0.170636,0.182198,1021370.0,63769300.0

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Chainlink,LINK,2017-09-21 23:59:59,"0,21","0,16","0,19","0,17","2126270,00","59388000,00"
1,2,Chainlink,LINK,2017-09-22 23:59:59,"0,18","0,14","0,17","0,15","1423220,00","52676050,00"
2,3,Chainlink,LINK,2017-09-23 23:59:59,"0,16","0,13","0,15","0,13","1186670,00","45895150,00"
3,4,Chainlink,LINK,2017-09-24 23:59:59,"0,19","0,13","0,13","0,17","1025740,00","59597300,00"
4,5,Chainlink,LINK,2017-09-25 23:59:59,"0,18","0,16","0,17","0,18","1021370,00","63769300,00"
...,...,...,...,...,...,...,...,...,...,...
1380,1381,Chainlink,LINK,2021-07-02 23:59:59,"18,52","17,31","18,22","18,28","686541946,31","7990090706,11"
1381,1382,Chainlink,LINK,2021-07-03 23:59:59,"18,89","17,90","18,29","18,54","509076296,92","8101640621,22"
1382,1383,Chainlink,LINK,2021-07-04 23:59:59,"19,89","18,03","18,55","19,26","680268075,07","8418044028,48"
1383,1384,Chainlink,LINK,2021-07-05 23:59:59,"19,25","17,81","19,25","18,37","698619085,01","8028559994,48"
1384,1385,Chainlink,LINK,2021-07-06 23:59:59,"20,24","18,35","18,35","20,08","1156986405,07","8775355704,93"

In [5]:
# save df to csv

df.to_csv(r'chainlink.csv', index=False)