In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_Dogecoin.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.0,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.0,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.0,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.0,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.0,7.284337e+06

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,"0,00","0,00","0,00","0,00","0,00","1509085,16"
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,"0,00","0,00","0,00","0,00","0,00","2169687,98"
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,"0,00","0,00","0,00","0,00","0,00","3188943,21"
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,"0,00","0,00","0,00","0,00","0,00","11150339,22"
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,"0,00","0,00","0,00","0,00","0,00","7284337,12"
...,...,...,...,...,...,...,...,...,...,...
2755,2756,Dogecoin,DOGE,2021-07-02 23:59:59,"0,25","0,24","0,24","0,25","1321470954,37","31949253278,16"
2756,2757,Dogecoin,DOGE,2021-07-03 23:59:59,"0,25","0,24","0,25","0,25","917015818,90","32104908914,69"
2757,2758,Dogecoin,DOGE,2021-07-04 23:59:59,"0,25","0,24","0,25","0,25","973511518,61","32117665810,76"
2758,2759,Dogecoin,DOGE,2021-07-05 23:59:59,"0,25","0,23","0,25","0,23","1267949362,22","30183443827,37"
2759,2760,Dogecoin,DOGE,2021-07-06 23:59:59,"0,24","0,23","0,23","0,23","1265920168,53","30552518423,82"

In [5]:
# save df to csv

df.to_csv(r'dogecoin.csv', index=False)