In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_Polkadot.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.0
1,2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.0
2,3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.0
3,4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.0
4,5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.0

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,"3,09","2,73","2,90","2,88","49313136,83","0,00"
1,2,Polkadot,DOT,2020-08-22 23:59:59,"4,51","2,82","2,88","4,48","485801095,85","0,00"
2,3,Polkadot,DOT,2020-08-23 23:59:59,"4,49","3,72","4,49","3,97","320749483,24","0,00"
3,4,Polkadot,DOT,2020-08-24 23:59:59,"4,78","3,81","3,99","4,60","407690170,88","0,00"
4,5,Polkadot,DOT,2020-08-25 23:59:59,"5,76","4,50","4,58","5,52","898847538,46","0,00"
...,...,...,...,...,...,...,...,...,...,...
315,316,Polkadot,DOT,2021-07-02 23:59:59,"15,47","14,68","15,22","15,34","753194772,64","14683488903,52"
316,317,Polkadot,DOT,2021-07-03 23:59:59,"15,78","15,07","15,32","15,55","711235057,16","14890349403,41"
317,318,Polkadot,DOT,2021-07-04 23:59:59,"16,58","15,22","15,55","16,01","752075892,77","15335470065,51"
318,319,Polkadot,DOT,2021-07-05 23:59:59,"16,00","14,79","16,00","15,24","844844585,75","14593231500,31"
319,320,Polkadot,DOT,2021-07-06 23:59:59,"16,16","15,21","15,24","16,14","1001573398,32","15467724813,64"

In [5]:
# save df to csv

df.to_csv(r'polkadot.csv', index=False)