In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\raw data\coin_Uniswap.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Uniswap,UNI,2020-09-18 23:59:59,8.438537,3.261757,3.488153,6.897257,6.061110e+09,6.681116e+08
1,2,Uniswap,UNI,2020-09-19 23:59:59,7.443275,5.321795,6.945577,5.724464,2.447471e+09,5.545076e+08
2,3,Uniswap,UNI,2020-09-20 23:59:59,6.050326,4.720210,5.720515,5.244195,1.554144e+09,5.079857e+08
3,4,Uniswap,UNI,2020-09-21 23:59:59,5.622155,4.160743,5.244195,4.266079,1.329464e+09,4.132392e+08
4,5,Uniswap,UNI,2020-09-22 23:59:59,4.554092,3.755040,4.275014,3.905138,8.162827e+08,3.782762e+08

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Uniswap,UNI,2020-09-18 23:59:59,"8,44","3,26","3,49","6,90","6061110197,71","668111645,02"
1,2,Uniswap,UNI,2020-09-19 23:59:59,"7,44","5,32","6,95","5,72","2447471305,09","554507578,81"
2,3,Uniswap,UNI,2020-09-20 23:59:59,"6,05","4,72","5,72","5,24","1554143599,06","507985734,87"
3,4,Uniswap,UNI,2020-09-21 23:59:59,"5,62","4,16","5,24","4,27","1329464490,17","413239181,61"
4,5,Uniswap,UNI,2020-09-22 23:59:59,"4,55","3,76","4,28","3,91","816282684,41","378276197,43"
...,...,...,...,...,...,...,...,...,...,...
287,288,Uniswap,UNI,2021-07-02 23:59:59,"18,24","16,98","17,83","18,24","307045716,47","10493637024,79"
288,289,Uniswap,UNI,2021-07-03 23:59:59,"19,52","17,85","18,23","19,52","344855378,82","11466088852,75"
289,290,Uniswap,UNI,2021-07-04 23:59:59,"21,48","18,95","19,48","20,77","540490915,07","12198611170,77"
290,291,Uniswap,UNI,2021-07-05 23:59:59,"20,87","19,18","20,77","20,10","545274387,30","11801301166,91"
291,292,Uniswap,UNI,2021-07-06 23:59:59,"23,19","20,08","20,09","22,40","815123868,59","13155007434,09"

In [5]:
# save df to csv

df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\cleaned data\uniswap.csv', index=False)