In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_XRP.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.0,4.387916e+07
1,2,XRP,XRP,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.0,3.659101e+07
2,3,XRP,XRP,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.0,3.453412e+07
3,4,XRP,XRP,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.0,3.325863e+07
4,5,XRP,XRP,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.0,3.354750e+07

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,"0,01","0,01","0,01","0,01","0,00","43879157,32"
1,2,XRP,XRP,2013-08-06 23:59:59,"0,01","0,00","0,01","0,00","0,00","36591007,74"
2,3,XRP,XRP,2013-08-07 23:59:59,"0,00","0,00","0,00","0,00","0,00","34534120,94"
3,4,XRP,XRP,2013-08-08 23:59:59,"0,00","0,00","0,00","0,00","0,00","33258632,22"
4,5,XRP,XRP,2013-08-09 23:59:59,"0,00","0,00","0,00","0,00","0,00","33547503,24"
...,...,...,...,...,...,...,...,...,...,...
2888,2889,XRP,XRP,2021-07-02 23:59:59,"0,67","0,63","0,66","0,66","2061607207,81","30307589485,09"
2889,2890,XRP,XRP,2021-07-03 23:59:59,"0,68","0,64","0,66","0,67","1872819597,06","31051722073,03"
2890,2891,XRP,XRP,2021-07-04 23:59:59,"0,71","0,67","0,67","0,69","1885241526,85","32069596319,40"
2891,2892,XRP,XRP,2021-07-05 23:59:59,"0,70","0,65","0,70","0,65","2076373187,71","30193951998,35"
2892,2893,XRP,XRP,2021-07-06 23:59:59,"0,68","0,65","0,65","0,67","1938959238,79","30722840710,51"

In [5]:
# save df to csv

df.to_csv(r'xrp.csv', index=False)